* {
  background: rgb(240, 237, 232);
}
.clos-header {
  font-size: 55px;
  display: flex;
}
.body {
  min-height: 100vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewHighScore {
  font-size: 65px;
  text-decoration: none;
  display: flex;
  margin-bottom: 25px;
}
#viewHighScore:hover {
  color: rgb(216, 222, 238);
  background: rgb(228, 174, 87);
  border-radius: 10px;
}
